[Unit]
Description=Network configurator
Wants=network.target
Before=network.target

[Service]
ExecStart=/sbin/netconfigd

[Install]
WantedBy=multi-user.target
