[Unit]
Description=Network configurator
After=syslog.target udev-settle.service

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/sbin/netconfig start
ExecStop=/sbin/netconfig stop

[Install]
WantedBy=network.target multi-user.target
